//////////////////////////////////////////////////////////////////////////
// CSS RESET -- ERIC MEYER ///////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

//////////////////////////////////////////////////////////////////////////
// COLOR VARIABLES ///////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
/* primary color */		$earthybrown:	rgb(145,92,85);
/* primary color */		$livegreen:		rgb(119,169,78);

/* secondary color */	$statelygray:	rgb(62,71,64);
/* secondary color */	$cream:				rgb(246,224,188);
/* secondary color */	$softgreen:		rgb(167,167,131);

//////////////////////////////////////////////////////////////////////////
// UNIVERSAL STYLING /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
body {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1.6;
	color: $statelygray;
	vertical-align: top;

	background-image: url(/images/wood-background.png);
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "adelle", serif;
	color: $livegreen;
}

//////////////////////////////////////////////////////////////////////////
// MAIN CONTAINER STYLING ////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.main-container {
	width: 70%;
	margin: 0 auto;
}

.top-logo { margin: 50px; }

.herotext {
	font-family: "adelle", serif;
	font-size: 3.25em;
	line-height: 1.2;
	color: $livegreen;
	margin-bottom: 50px;
}

.coming-soon {
	font-style: italic;
	font-size: 2em;
	color: $earthybrown;
}
//////////////////////////////////////////////////////////////////////////
// 2 COLUMN STYLING //////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.column-left {
	width: 45%;
	float: left;
	margin-right: 5%;
	margin-bottom: 50px;
}

.column-right {
	width: 45%;
	float: right;
	margin-left: 5%;
	margin-bottom: 50px;
}

